<section class="inquire" #inquireContentAnimation>
    <div class="app-container">
        <div class="inquire-wrapper">
            <h3 class="inquire-heading">
                Put SEIRIM to work for you
            </h3>
            <div class="line">
                <img src="../../../../assets/images/line.png" alt="">
            </div>
            <div class="inquire-content">
                <p class="inquire-para">
                    We help leading companies worldwide keep their digital realms secure via hands-on consulting,
                    vulnerability management, penetration testing and more.
                </p>
                <button class="btn-trans inquire-button">
                    <span>
                        Inquire now
                    </span>
                    <svg class="link-icon">
                        <use xlink:href="#arrowTopRightIcon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>