<footer #footerContentAnimation>
    <div class="footer-top">
        <div class="app-container">
            <div class="footer-top-content">
                <div class="footer-links main-links">
                    <a href="">
                        ABout
                    </a>
                    <a href="">
                        Services
                    </a>
                    <a href="">
                        News & Blog
                    </a>
                    <a href="">
                        Contact
                    </a>
                </div>
                <div class="footer-links">
                    <h6 class="footer-link-title">
                        Cybersecurity
                    </h6>
                    <ul>
                        <li>
                            <a href="">
                                Cybersecurity Consulting
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Penetration Testing
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Risk Assessment
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Vulnerability Scanning
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Systems Hardening
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Incident Response
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Managed Security
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h6 class="footer-link-title">
                        Development
                    </h6>
                    <ul>
                        <li>
                            <a href="">
                                Custom CMS Systems
                            </a>
                        </li>
                        <li>
                            <a href="">
                                E-Commerce
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Corporate Websites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Custom Software
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Mobile Apps & Games
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Outsourced Development

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h6 class="footer-link-title">
                        Digital Marketing
                    </h6>
                    <ul>
                        <li>
                            <a href="">
                                Video Production
                            </a>
                        </li>
                        <li>
                            <a href="">
                                3D Animation
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Virtual Reality
                            </a>
                        </li>
                        <li>
                            <a href="">
                                SEO Campaigns
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Marketing Materials
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h6 class="footer-link-title">
                        TOOLS
                    </h6>
                    <ul>
                        <li>
                            <a href="">
                                China Website Accessibility
                            </a>
                        </li>
                        <li>
                            <a href="">
                                WHOIS / Domain Name Info
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Secure Password Sharer
                            </a>
                        </li>
                        <li>
                            <a href="">
                                SSL Status
                            </a>
                        </li>
                        <li>
                            <a href="">
                                SPF / DKIM / DMARC
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Blacklist URL List Check
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Hosted by & Built With Check
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Whats My IP / Reverse IP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="app-container">
            <div class="footer-bottom-content">
                <div class="footer-bottom-menu">
                    <div class="footer-bottom-menu-left">
                        <p><span>SEIRIM</span> / Business Documentaries Ltd.</p>

                        <div class="menu-left-item">
                            <span>Elsewhere on the web:</span>
                            <ul>
                                <li>
                                    <a href="">Mastodon</a>
                                </li>
                                <li>
                                    <a href="">Matrix</a>
                                </li>
                                <li>
                                    <a href="">Lemmy</a>
                                </li>
                                <li>
                                    <a href="">Cyber.Report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-bottom-menu-right">
                        <p>Live Chat: Online — <a href="">click here</a></p>

                        <div class="menu-right-item">
                            <ul>
                                <li>
                                    <span>Language:</span>
                                    <div class="d-flex align-items-center">
                                        <button class="active">English /</button>
                                        <button> 中文</button>
                                    </div>
                                </li>
                                <li class="border"></li>
                                <li>
                                    <span>Theme:</span>
                                    <div class="d-flex align-items-center">
                                        <button class="active">Dark /</button>
                                        <button> Light</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="animated-border">

                </div>
                <div class="copyright">
                    <span> Copyright 2023 Business Documentaries Ltd.</span>
                    <ul>
                        <li>
                            <a href=""> Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="">Sitemap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>