header {
    .header-container {
        // padding: 1.6rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 11;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            animation: borderSlideAnimation 3s ease-in-out;
        }
        .header-logo {
            svg {
                width: 95px;
                height: 27px;
            }
        }

        .header-menu,
        .mobile-menu {
            svg {
                width: 12.385px;
                height: 6.841px;
                margin-left: 0.5rem;
            }
        }

        .header-menu {
            ul {
                display: flex;
                align-items: center;
                li {
                    margin-left: 2.25rem;
                    &:hover {
                        .mega-menu {
                            display: block;
                        }
                    }
                    .link {
                        position: relative;
                        // display: inline-block;
                        text-decoration: none;
                        display: flex;
                        align-items: center;

                        span {
                            color: #fff;
                            font-size: 0.875rem;
                            letter-spacing: 1.95px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .mobile-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            .language-selector {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                margin-right: 1.8rem;
                a {
                    color: #fff;
                    font-size: 14.17px;
                    font-weight: 400;
                    line-height: 25px;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: #048bd7;
                    }
                }
            }
            .burger-menu {
                position: relative;
                width: fit-content;
                height: 40px;
                color: white;
                text-transform: uppercase;
                z-index: 50;
                .burger-menu-piece {
                    display: block;
                    position: relative;
                    width: 40px;
                    border-top: 3px solid white;
                    transform-origin: 50% 50%;
                    margin-top: 6px;
                }
            }

            .sidebar {
                background: #090c18;
                width: 0%;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 10;
            }

            li {
                min-width: 100%;
                margin-bottom: 1.2rem;
                a {
                    font-size: 3.7vw;
                    text-align: left;
                    cursor: pointer;
                    color: white;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: #048bd7;
                    }
                }
            }

            .sidemenu {
                margin: 100px 0 0 2rem;
            }
        }
        .mega-menu {
            display: none; /* Start hidden */
            opacity: 0; /* Start transparent */
            height: 0; /* Start with no height */
            overflow: hidden; /* Hide overflow content */
            
            background-color: #081321;
            position: fixed;
            top: 70px;
            left: 0;
            width: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 111;
            .mega-menu-content {
                max-width: 1600px;
                margin: 0 auto;
                padding: 1.75rem 2rem;
                .mega-menu-left {
                    h6 {
                        color: #fff;
                        font-size: 2.188rem;
                        font-weight: 300;
                        line-height: 100%;
                    }
                    p {
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: 0.75px;
                        max-width: 18rem;
                    }
                    button {
                        background: #044c8e;
                        padding: 0.875rem 1.6rem;
                        margin-top: 2rem;
                        span {
                            color: #fff;
                            font-size: 0.75rem;
                            font-weight: 500;
                            letter-spacing: 1.8px;
                            text-transform: uppercase;
                        }
                        svg {
                            width: 0.75rem;
                            height: 0.75rem;
                        }
                    }
                }
                .mega-menu-right {
                    .tabs {
                        .tab-item {
                            border: none;
                            background: none;
                            padding: 1rem 1.4rem;
                            color: #fff;
                            font-size: 0.75rem;
                            font-weight: 500;
                            letter-spacing: 1.65px;
                            text-transform: uppercase;
                            &.active {
                                color: #091421;
                                background: #fff;
                            }
                        }
                    }
                    .tab-content {
                        background-color: white;
                        padding: 2.375rem 1.5rem 1.5rem 1.5rem;
                        .menu-title {
                            color: #081320;
                            font-size: 1.375rem;
                            font-weight: 400;
                            line-height: 25px;
                            letter-spacing: 1.1px;
                            text-transform: uppercase;
                            margin: 0;
                        }
                        .menu-img {
                            max-height: 10rem;
                            width: 100%;
                            margin: 0.875rem 0;
                        }
                        .menu-para {
                            color: #000;
                            font-size: 0.938rem;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.75px;
                            margin: 0;
                            word-break: keep-all;
                        }
                        .btn-menu {
                            margin-top: 1.625rem;
                            span {
                                color: #0a0a0a;
                                font-size: 0.75rem;
                                font-weight: 700;
                                letter-spacing: 1.8px;
                                text-transform: uppercase;
                            }
                            svg {
                                width: 1rem;
                                height: 1rem;
                            }
                        }

                        .list {
                            display: block;
                            columns: 2;
                            column-gap: 2rem;
                            .list-item {
                                margin-bottom: 1.2rem;
                                &:last-child {
                                    margin-bottom: 0rem;
                                }
                                .item-title {
                                    color: #081320;
                                    font-size: 0.875rem;
                                    font-weight: 700;
                                    line-height: 20px;
                                    letter-spacing: 0.65px;
                                    text-transform: uppercase;
                                    margin: 0;
                                    padding-bottom: 0.5rem;
                                    position: relative;
                                    &::after {
                                        position: absolute;
                                        content: "";
                                        left: 0;
                                        bottom: 0;
                                        width: 112px;
                                        height: 2px;
                                        background: #a8d3ff;
                                        // margin: 0.4rem 0;
                                    }
                                }
                                .item-para {
                                    color: #000;
                                    font-size: 0.875rem;
                                    font-weight: 400;
                                    line-height: 20px; /* 153.846% */
                                    letter-spacing: 0.65px;
                                    margin: 0;
                                    margin-top: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            .header-menu {
                display: none;
            }
        }
        @media screen and (min-width: 991px) {
            .header-menu {
                display: flex;
                align-items: center;
                li {
                    a {
                        height: 70px;
                    }
                }
            }
            .mobile-menu {
                display: none;
            }
        }
    }
}
