header {
    .header-container {
        padding: 1.6rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 11;
        svg {
            width: 12.385px;
            height: 6.841px;
            margin-left: 0.5rem;
        }
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            animation: borderSlideAnimation 3s ease-in-out;
        }
        .header-logo {
            svg {
                width: 95px;
                height: 27px;
            }
        }
        .header-menu {
            ul {
                display: flex;
                align-items: center;
                li {
                    margin-left: 2.25rem;
                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        span {
                            color: #fff;
                            font-size: 0.875rem;
                            letter-spacing: 1.95px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .mobile-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            .language-selector {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                margin-right: 1.8rem;
                a {
                    color: #fff;
                    font-size: 14.17px;
                    font-weight: 400;
                    line-height: 25px;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: #048bd7;
                    }
                }
            }
            .burger-menu {
                position: relative;
                width: fit-content;
                height: 40px;
                color: white;
                text-transform: uppercase;
                z-index: 50;
                .burger-menu-piece {
                    display: block;
                    position: relative;
                    width: 40px;
                    border-top: 3px solid white;
                    transform-origin: 50% 50%;
                    margin-top: 6px;
                }
            }

            .sidebar {
                background: #090c18;
                width: 0%;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 10;
            }

            li {
                min-width: 100%;
                margin-bottom: 1.2rem;
                a {
                    font-size: 3.7vw;
                    text-align: left;
                    cursor: pointer;
                    color: white;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: #048bd7;
                    }
                }
            }

            .sidemenu {
                margin: 100px 0 0 2rem;
            }
        }
        @media screen and (max-width: 991px) {
            .header-menu {
                display: none;
            }
        }
        @media screen and (min-width: 991px) {
            .header-menu {
                display: block;
            }
            .mobile-menu {
                display: none;
            }
        }
    }
}
