<header #header  [ngClass]="{activeNavBg: isMegaMenuActive}">
  <div class="app-container">
    <div class="header-container">

      <div class="header-logo">
        <a href="#">
          <svg>
            <use xlink:href="#logoIcon"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu">
        <ul>
          <li (mouseenter)="showMegaMenu()" (mouseleave)="hideMegaMenu()" [ngClass]="{active: isMegaMenuActive}">
            <a class="link" href="/" (mouseenter)="onHoverTextScramble($event)" >
              <span class="link-name" >Services</span>
              <svg>
                <use xlink:href="#arrowDownIcon"></use>
              </svg>
            </a>
            <!-- Mega Menu Content -->
            <div #megaMenu class="mega-menu">
              <div class="mega-menu-content">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-left">
                      <h6>
                        Services
                      </h6>
                      <div class="line">
                        <img src="../../../assets/images/line.png" alt="">
                      </div>
                      <p> Achieving security is an iterative and ongoing process involving assessing the whole threat
                        and
                        risks landscape coupled with hands on scanning, repairing, validating, testing and more.</p>

                      <button class="btn-learn-more">
                        <span>learn more</span>
                        <svg class="link-icon">
                          <use xlink:href="#arrowUpRightIcon"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="mega-menu-right">

                      <div class="tabs">
                        <button class="tab-item" *ngFor="let tab of tabs; let i = index"
                          [class.active]="currentTabIndex === i" (click)="onTabSelected(i)">
                          <span> {{ tab }}</span>
                        </button>
                      </div>

                      <div class="tab-content">
                        <ng-container *ngIf="currentTabIndex === 0">
                          <div class="cybersecutiry-content">
                            <div class="row">
                              <div class="col-md-3">
                                <h3 class="menu-title">
                                  Security from the ground up
                                </h3>
                                <img class="menu-img" src="../../../assets/images/cyber-img.jpg" alt="">
                                <p class="menu-para">The SEIRIM team of professionals is working around the clock to
                                  secure, strengthen
                                  and make more resilient the data environments of our clients.</p>

                                <button class="btn btn-menu">
                                  <span>cybersecurity main</span>
                                  <svg>
                                    <use xlink:href="#arrowRightIconOne"></use>
                                  </svg>
                                </button>
                              </div>
                              <div class="col-md-9">
                                <ul class="list">
                                  <li class="list-item" *ngFor="let item of items">
                                    <h6 class="item-title">{{ item.title }}</h6>
                                    <p class="item-para">{{ item.description }}</p>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="currentTabIndex === 1">
                        </ng-container>
                        <ng-container *ngIf="currentTabIndex === 2">
                        </ng-container>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a class="link" href="/about" (mouseenter)="onHoverTextScramble($event)">
              <span class="link-name">Case Studies</span>
              <svg>
                <use xlink:href="#arrowDownIcon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="onHoverTextScramble($event)"><span
                class="link-name">About</span></a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="onHoverTextScramble($event)"><span
                class="link-name">News</span></a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="onHoverTextScramble($event)">
              <span class="link-name">Tools</span>
              <svg>
                <use xlink:href="#arrowDownIcon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="onHoverTextScramble($event)"><span
                class="link-name">Contact Us</span></a>
          </li>
        </ul>
      </div>

      <div class="mobile-menu">

        <div class="language-selector">
          <a class="link">
            <span class="link-name">En</span>
          </a>
          <div class="border"></div>
          <a class="link">
            <span class="link-name"> 中文</span>
          </a>
        </div>

        <div class="burger-menu" (click)="toggleMenu()">
          <span class="burger-menu-piece top" #top></span>
          <span class="burger-menu-piece middle" #middle></span>
          <span class="burger-menu-piece bottom" #bottom></span>
        </div>

        <div class="sidebar" #sidebar>
          <div class="sidemenu" #sideMenuLink>
            <ul>
              <li>
                <a class="link" href="/">
                  <span class="link-name">Services</span>
                  <svg>
                    <use xlink:href="#arrowDownIcon"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="link" href="/about">
                  <span class="link-name">Case Studies</span>
                  <svg>
                    <use xlink:href="#arrowDownIcon"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="link" href="/contact"><span class="link-name">About</span></a>
              </li>
              <li>
                <a class="link" href="/contact"><span class="link-name">News</span></a>
              </li>
              <li>
                <a class="link" href="/contact">
                  <span class="link-name">Tools</span>
                  <svg>
                    <use xlink:href="#arrowDownIcon"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="link" href="/contact"><span class="link-name">Contact Us</span></a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>