<header>
  <div class="app-container">
    <div class="header-container">

      <div class="header-logo">
        <a href="#">
          <svg>
            <use xlink:href="#logoIcon"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu">
        <ul>
          <li>
            <a class="link" href="/" (mouseenter)="handleHoverAnimationEnter($event)">
              <span class="link-name">Services</span>
              <svg>
                <use xlink:href="#arrowDownIcon"></use>
              </svg>
            </a>
            <!-- Mega Menu Content -->
            <div class="mega-menu-content">
              <div class="row">
                <div class="col-md-2">
                  <div class="mega-menu-left">
                    <h6>
                      Services
                    </h6>
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque iusto voluptatibus ut
                      veritatis,
                      itaque ratione soluta aliquid explicabo error quo asperiores hic dicta deserunt beatae.
                      Reprehenderit
                      dolor, corporis ad porro non esse hic ex omnis possimus quia temporibus exercitationem, mollitia
                      sequi
                      repudiandae neque, nam iste velit minus nobis repellat totam?</p>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="mega-menu-right">
                    <div class="mega-menu-column">
                      <h3>Category 2</h3>
                      <ul>
                        <li><a href="#">Subcategory 2.1</a></li>
                        <li><a href="#">Subcategory 2.2</a></li>
                        <!-- Add more subcategories as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          
          <li>
            <a class="link" href="/about" (mouseenter)="handleHoverAnimationEnter($event)">
              <span class="link-name">Case Studies</span>
              <svg>
                <use xlink:href="#arrowDownIcon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="handleHoverAnimationEnter($event)"><span
                class="link-name">About</span></a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="handleHoverAnimationEnter($event)"><span
                class="link-name">News</span></a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="handleHoverAnimationEnter($event)">
              <span class="link-name">Tools</span>
              <svg>
                <use xlink:href="#arrowDownIcon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="link" href="/contact" (mouseenter)="handleHoverAnimationEnter($event)"><span
                class="link-name">Contact Us</span></a>
          </li>
        </ul>
      </div>

      <div class="mobile-menu">

        <div class="language-selector">
          <a class="link">
            <span class="link-name">En</span>
          </a>
          <div class="border"></div>
          <a class="link">
            <span class="link-name"> 中文</span>
          </a>
        </div>

        <div class="burger-menu" (click)="toggleMenu()">
          <span class="burger-menu-piece top" #top></span>
          <span class="burger-menu-piece middle" #middle></span>
          <span class="burger-menu-piece bottom" #bottom></span>
        </div>

        <div class="sidebar" #sidebar>
          <div class="sidemenu" #sideMenuLink>
            <ul>
              <li>
                <a class="link" href="/">
                  <span class="link-name">Services</span>
                  <svg>
                    <use xlink:href="#arrowDownIcon"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="link" href="/about">
                  <span class="link-name">Case Studies</span>
                  <svg>
                    <use xlink:href="#arrowDownIcon"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="link" href="/contact"><span class="link-name">About</span></a>
              </li>
              <li>
                <a class="link" href="/contact"><span class="link-name">News</span></a>
              </li>
              <li>
                <a class="link" href="/contact">
                  <span class="link-name">Tools</span>
                  <svg>
                    <use xlink:href="#arrowDownIcon"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="link" href="/contact"><span class="link-name">Contact Us</span></a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>