<section class="blog">
    <div class="app-container">
        <div class="blog-top">
            <div class="section-title">
                <span class="title-label">get latest updates</span>
                <h2 class="title">News & Blog</h2>
                <div class="line">
                    <img src="../../../../assets/images/line.png" alt="">
                </div>
            </div>

            <button class="btn-trans">
                <span class="btn-label">view all articles</span>
                <svg class="link-icon">
                    <use xlink:href="#arrowTopRightIcon"></use>
                </svg>
            </button>

        </div>
    </div>
    <div class="blog-bottom">
        <ul class="slider-list" #sliderList>

            <li class="slider-item" *ngFor="let item of visibleItems">
                <img [src]="item.blogImg" alt="">

                <div class="card-content">
                    <div class="category">
                        {{ item.date }} - {{ item.category }}
                    </div>
                    <h6 class="card-title">{{ item.title }}</h6>
                    <p>
                        {{ item.description }}
                    </p>

                    <button>
                        <svg>
                            <use xlink:href="#arrowRightIconOne"></use>
                        </svg>
                    </button>
                </div>

            </li>

        </ul>

        <div class="slider-actions">

            <button class="btn-prev" (click)="prevSlide()">
                <svg>
                    <use xlink:href="#arrowLeftIcon"></use>
                </svg>
            </button>
            <div class="loading-indicator"></div>
            <button class="btn-next" (click)="nextSlide()">
                <svg>
                    <use xlink:href="#arrowRightIcon"></use>
                </svg>
            </button>

        </div>
    </div>


</section>