<section class="what-we-offer">
    <div class="app-container w-100">

        <div class="what-we-offer-top" #sectionTitleAnimation>
            <div class="section-title">
                <span class="title-label">Our Solutions</span>
                <h2 class="title">What we offer</h2>
                <div class="line">
                    <img src="../../../../assets/images/line.png" alt="">
                </div>
                <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate.</p>
            </div>
            <div class="tabs">
                <button class="tab-item" *ngFor="let tab of tabs; let i = index" [class.active]="currentTabIndex === i"
                    (click)="onTabSelected(i)">
                    <span> {{ tab }}</span>
                    <!-- <span class="border"></span> -->
                </button>
            </div>
        </div>

        <div class="tab-content" #offerContentAnimation>

            <ng-container *ngIf="currentTabIndex === 0">
                <div class="cybersecurity-content">
                    <div class="cybersecurity-content-top">

                        <div class="top-left-item">
                            <div class="section-title">
                                <span class="title-label">Cybersecurity</span>
                                <h2 class="title">Security from the ground up</h2>
                                <div class="line">
                                    <img src="../../../../assets/images/line.png" alt="">
                                </div>
                                <img class="small-img" src="../../../../assets/images/cybersecurity.png" alt="">
                                <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut
                                    aliquip ex ea
                                    commodo consequat. </p>
                                <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in. Sagittis nisl
                                    rhoncus mattis
                                    rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac habitasse platea
                                    dictumst
                                    quisque sagittis
                                    purus. </p>
                            </div>

                            <button class="btn-trans btn-link">
                                <span>go to cybersecurity services</span>
                                <svg class="link-icon">
                                    <use xlink:href="#arrowUpRightIcon"></use>
                                </svg>
                            </button>
                        </div>

                        <div class="top-right-item">
                            <img class="big-img" src="../../../../assets/images/cybersecurity.png" alt="">
                        </div>

                    </div>

                    <div class="cybersecurity-content-bottom">
                        <div class="list-content">
                            <h5 class="title">Specialized Security Services:</h5>
                            <ul>
                                <li>
                                    <app-accordin [title]="'Risk Assessments'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'Incident Response'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'Penetration Testing'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'Vulnerability Scanning & Management'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'Managed Custom Services'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'System Hardening'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'Application Secure Development'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'Cybersecurity Consulting'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                                <li>
                                    <app-accordin [title]="'Cybersecurity Consulting'">
                                        <div class="according-content">
                                            <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea
                                                commodo consequat. </p>
                                            <p class="para">Ornare suspendisse sed nisi lacus sed viverra tellus in.
                                                Sagittis nisl rhoncus mattis
                                                rhoncus urna neque Pulvinar neque laoreet suspendisse. In hac
                                                habitasse platea dictumst
                                                quisque sagittis
                                                purus. </p>
                                        </div>
                                    </app-accordin>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="currentTabIndex === 1">

                <div class="">
                    content 1
                </div>
            </ng-container>
            <ng-container *ngIf="currentTabIndex === 2">
                <div class="">
                    content 2
                </div>
            </ng-container>
        </div>
    </div>


</section>