
<div class="digital-marketing-study section-margin-top">
    <div class="row">
        <div class="col-md-3">
            <div class="study-left">
                <div class="section-title">
                    <h2 class="title">Digital Marketing</h2>
                    <p class="para">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo
                        consequat.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="study-right">

                <div class="digital-slider-wrapper">
                    <div class="list-item-img-left">
                        <img src="../../../../assets/images/banner-img.jpg" alt="">
                    </div>
                    <div class="digital-slider-container">
                        <div class="slider" #slider>
                            <div class="slide" *ngFor="let slide of slides">
                                <div class="list-item">

                                    <div class="video">
                                        <iframe src="https://www.youtube.com/embed/gQRsgFw7tcg"
                                            title="Website Design and Development Process" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="list-item-content">
                                        <span class="sub-title">
                                            video introduction
                                        </span>
                                        <h4>
                                            Dubai Summit Opening
                                        </h4>
                                        <p>Super cool music, video and animations editing to create this very
                                            impactful
                                            video launching
                                            the Giti Summit in Dubai.</p>

                                        <button class="btn-trans btn-learn-more">
                                            <span class="btn-label">case studies main</span>
                                            <svg class="link-icon">
                                                <use xlink:href="#arrowTopRightIcon"></use>
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="digital-pagination">
                            <span *ngFor="let slide of slides; let i = index" class="slider-pagination-bullet"
                                [class.slider-pagination-bullet-active]="currentIndex === i"
                                (click)="goToSlide(i)">{{ i
                                + 1 }}</span>
                        </div>
                    </div>
                    <div class="list-item-img-right">
                        <img src="../../../../assets/images/banner-img.jpg" alt="">
                    </div>

                    <button class="btn-prev" (click)="prevSlide()"><svg xmlns="http://www.w3.org/2000/svg"
                            width="38" height="38" viewBox="0 0 38 38" fill="none">
                            <rect y="38" width="38" height="38" transform="rotate(-90 0 38)" fill="#0782F4" />
                            <path d="M16.6465 27.7019L7.64955 18.705L16.2375 10.117" stroke="white"
                                stroke-width="1.5" />
                            <path d="M7.64904 18.7051L30.3509 18.7052" stroke="white" stroke-width="1.5" />
                        </svg>
                    </button>
                    <button class="btn-next" (click)="nextSlide()"><svg xmlns="http://www.w3.org/2000/svg"
                            width="38" height="38" viewBox="0 0 38 38" fill="none">
                            <rect x="38" width="38" height="38" transform="rotate(90 38 0)" fill="#0782F4" />
                            <path d="M21.3535 10.2981L30.3504 19.295L21.7625 27.883" stroke="white"
                                stroke-width="1.5" />
                            <path d="M30.351 19.2949L7.64913 19.2948" stroke="white" stroke-width="1.5" />
                        </svg>
                    </button>
                </div>


                <button class="btn-trans btn-view-more">
                    <span class="btn-label">digital marketing case studies</span>
                    <svg class="link-icon">
                        <use xlink:href="#arrowTopRightIcon"></use>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</div>