<section class="case-study" #sectionBgAnimation>
    <div class="app-container">
        <div class="study-top">
            <div class="section-title">
                <span class="title-label">Our Solutions</span>
                <h2 class="title">Case Studies</h2>
                <div class="line">
                    <img src="../../../../assets/images/line.png" alt="">
                </div>
            </div>

            <button class="btn-trans">
                <span class="btn-label">case studies main</span>
                <svg class="link-icon">
                    <use xlink:href="#arrowTopRightIcon"></use>
                </svg>
            </button>
        </div>

        <div class="cyberSecurity-study section-margin-top">
            <div class="row">
                <div class="col-md-3">
                    <div class="study-left">
                        <div class="section-title">
                            <h2 class="title">Cybersecurity</h2>
                            <p class="para">
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="study-right">
                        <ul class="blog-list">
                            <li class="list-item" *ngFor="let item of sliderData">
                                <div class="list-item-left">
                                    <img [src]="item.cardImg" alt="">
                                    <div class="card-content">
                                        <div class="category">
                                            {{ item.category }}
                                        </div>
                                        <h6 class="card-title">{{ item.title }}</h6>
                                        <p class="card-des">
                                            {{ item.description }}
                                        </p>
                                    </div>
                                </div>
                                <div class="list-item-right">
                                    <button class="btn-view-details">
                                        <svg>
                                            <use xlink:href="#arrowRightIconOne"></use>
                                        </svg>
                                    </button>
                                </div>
                            </li>
                        </ul>

                        <button class="btn-trans btn-view-more">
                            <span class="btn-label">cybersecurity case studies</span>
                            <svg class="link-icon">
                                <use xlink:href="#arrowTopRightIcon"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <development-case-study></development-case-study>
        
        <marketing-case-study></marketing-case-study>

    </div>



</section>